<!doctype html>
<html>
	<body>
	<center>
		<header>
		<title>Yash Dani 1001707349</title></header>
		<br><br>

		<table border = 1 align="center">
			<h2>Yash Dani 1001707349</h2>
			<h3> Count of Earthquakes is {{counter}} </h3>
			<tr>
				<td>LATITUDE</td>
				<td>LONGITUDE</td>
				<td>COUNT</td>
			</tr>
			{% for i in range(lengthcounter)%}
			<tr>

				<td>{{latrange[i]}}</td>
				<td>{{lonrange[i]}}</td>
				<td>{{countl[i]}}</td>

			</tr>
			{% endfor %}
			<h2> <a href = "/">Home</a></h2>
		</table>
		<br>

	</body>
</html>
